body
{
   padding-top: 50px;
   background: url('../img/background.jpg') no-repeat fixed center top;
   width: 100%;
}
.jumbotron, footer, .well
{
   background: url('../img/background-blur.jpg') no-repeat fixed center top;
}
footer
{
   padding-top: 16px;
   padding-bottom: 16px;
   width: 100%;
}
.navbar.navbar-inverse
{
   opacity: 0.9;
   background: #111;
}
button.navbar-toggle
{
   border-radius: 5px;
   border: 0px solid transparent;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.modal-content
{
   background-color: salmon;
   border-radius: 0;
   max-width: 330px;
   margin: auto;
}
.delete-post
{
   color: #000;
   transition: all 0.25s ease-out;
   font-size: 0px;
   opacity: .2;
   text-shadow: 0 1px 0 #fff;
}
.delete-post:hover
{
   color: #000;
   width: auto;
   font-size: 14px;
   text-align: center;
   opacity: .5;
}
.delete-post > .glyphicon
{
   font-size: 16px;
}
.modal-header
{
   border-bottom: 1px dashed #555;
}
.modal-footer
{
   border-top: 1px dashed #555;
}
.corkwall-container
{
   overflow-x: scroll;
}
.corkwall
{
   margin: 8px;
   margin-left: -2px;
   border: 4px solid #888;
   box-shadow: 0 0 10px 0 black inset;
   border-radius: 10px;
   height: 720px;
   width: 1420px;
   position: relative;
   background: #cca;
   background-image: url(../img/corkwall.jpg);
}
.post-note
{
   position: absolute;
   background: salmon;
   width: 160px;
   min-height: 160px;
   padding: 8px;
   box-shadow: 0 14px 32px -16px rgba(0, 0, 0, 0.5);
}
.post-note p
{
   margin-bottom: 35px;
}
.post-note-footer
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: right;
   padding-right: 8px;
   overflow: hidden;
   border-top: 1px dashed #555;
}
.post-note-footer p
{
   margin-top: 7px;
   margin-bottom: 7px;
}
.post-note-footer p::before,
.modal-footer p::before
{
   content: "~ "
}
body > .container,
body > .container-flow
{
   margin-top: 10px;
}
body > .container-flow
{
   margin-left: 10px;
}
