body
{
   padding-top: 60px;
   background: url(../img/signin-bg.jpg) no-repeat fixed center top;
}
.form-signin
{
   max-width: 340px;
   margin: auto;
   padding: 10px;
   background: url(../img/signin-bg-blur.jpg) no-repeat fixed center top;
   border-radius: 10px;
}
.form-control
{
   padding: 10px;
   height: auto;
   font-size: 18px;
}
.alert
{
   margin-top: 10px;
}
.top-input, .middle-input, .bottom-input
{
   margin-bottom: -1px;
   border-radius: 0;
}
.top-input
{
   border-radius: 5px 5px 0 0;
}
.bottom-input
{
   border-radius: 0 0 5px 5px;
}
